<script setup lang="ts">
import { reactive, ref, watch } from 'vue';

const count = ref(0)
function increment(){
    count.value++
}
const myClasses = reactive({
    red: true,
    bold: true,
    underline: true
})

watch(count,function(newCount,oldCount){
    console.log(`conut Change ${oldCount}->${newCount}`);
    
})
</script>

<template>
    <button @click = "increment()" :class="myClasses">count is : {{ count }}</button><br>
    <pre>{{ myClasses }}</pre> <br>
    <button @click = "myClasses.red = !myClasses.red">Red</button>
    <button @click = "myClasses.bold = !myClasses.bold">Bold</button>
    <button @click = "myClasses.underline = !myClasses.underline">Underline</button>
</template>

<style scoped>
.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}</style>